
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
}

#stage {
  width: 100%;
  height: auto;
  margin: 0px;
  position: relative;
  
}

canvas {
  position: absolute;
  outline: 2px solid lavender;
}
#ui-layer { z-index: 3 }
#game-layer { z-index: 2 }
#background-layer { z-index: 1 }
